

nav {
  background: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
}

nav a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background: #ddd;
  color: black;
}

nav li {
  /* Centra los elementos de la navbar */
  display: inline;
}


.sitios-home img {
  align-self: center;
  /* min-width: 300px!important;
  max-width: 500px!important; */
  height: 250px!important;
  width: auto!important;
  max-width:500px;
}


body {
    font-family: Jetbrains Mono, SegoeUI, Arial;
    font-size: 12px;
    padding: 5%;
    /* Evita solapamiento de contenido con la navbar */
    margin-top: 10%;   
}

img {
    max-width: 50%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 90%;
    border: 0;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 50%;
    text-align: center;
}

#menu-nav {
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}