
.info-general{
  /* padding: 20px; */
  position: relative;
  text-align: center;
}
/* 
.info-general img{
  padding:20px;
} */

.info-general p {
  text-align:center;
  font-size:small;
  /* padding: 20px; */
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: white;
  width: 100%;
}



.info-imagen img {
  max-width: 100%;
  width: 100%;
}


.sitios-parada img{
  align-self: center;
/*  min-width: 300px!important;
  max-width: 500px!important; */
  height: 250px;
  width: auto;
  max-width:500px;  
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.sitios-parada h5{
  padding-left: 50px;
  display: block;
}

.col-sm{
  padding:10px;
}

.sitios-parada p{
  text-align: center;
}