

h2 {
  font-size: 15 px;
  margin-left: auto;
}

.sitios-home > div {
  column-count: 3;
}

.sitios-home p {
  text-align: left;
}

.sitios-home img {
/*   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 */
}

body {
    font-family: Jetbrains Mono, SegoeUI, Arial;
    font-size: 12px;
    margin: 2%;
}

img {
    max-width: 50%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 90%;
    border: 0;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

#menu-nav {
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}