
.info-general{
  margin-bottom: 5%;
}

.info-general > h1 {
  margin-bottom: 3%;
}

.info-general > p {
  text-align:justify;
  font-size:small;
}

.destacados {
  margin-top: 3%;
  padding: 1%;
}

.destacados .col-sm > h5{
  margin-top: 2%;
  margin-bottom: 5%;
}
