
.info-general{
  padding: 20px;
}

.info-general img{
  padding:20px;
}

.info-general p {
  text-align:center;
  font-size:small;
  padding: 20px;
}


.sitios-parada img{
  align-self: center;
/*  min-width: 300px!important;
  max-width: 500px!important; */
  height: 250px!important;
  width: auto!important;
  max-width:500px;  
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.sitios-parada h5{
  padding-left: 50px;
  display: block;
}

.col-sm{
  padding:10px;
}

.sitios-parada p{
  text-align: center;
}